body {
  margin: 0;
  padding-top: 0;
}

.navbar {
  background-color: rgba(255, 0, 0, 0.781);
  margin: 0;
  font-size: 80%;
  border-bottom: 2px solid rgba(180, 5, 5, 0.829);
}
.navi {
  display: flex;
  align-items: left;
  top: 0px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.li_item {
  padding: 8px 13px 8px 13px;
  color: white;
}
.li_item:hover {
  background-color: white;
  color: black;
}

section {
  display: flex;
}

.header {
  background-color: rgba(255, 0, 0, 0.781);
  flex-direction: column;
  justify-content: center;
}

#ueberschrift_h1_1 {
}
